/grading/
heka22_ecological_economics/

*.mp4

# Quarto
/.quarto/
/_site/
/_book/
/docs/
*_files/
*_cache/
slides/*.html
lectures/*.html
readme.html

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
**/*.quarto_ipynb
